@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=PT+Mono&display=swap');
 /* ROOT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    --blue: #0B60C9;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--white);
    background: #0B0A26;

}


#load {
    background: #000 url(imgs/loading-loading-gif.gif) no-repeat center;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100000;

}





/*HEADER*/
header {
    z-index: 1000;
    position: relative;
    padding-bottom: 12rem;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 2rem;
    width: 100%;
    background: #0B0A26;
    box-shadow: 0px 4px 69px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    position: fixed;
}
.logos {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    cursor: default;
    
}

.logos img {
    height: 3rem;
    width: 3rem;
    margin-right: 1.8rem;
    filter: invert();
}
.navigation .logo{
    color: var(--red);
    font-size: 2.4rem;
    font-weight: 300;
}
.logo span{
    color: var(--white);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;

}
.navigation ul li a{
    color: var(--white);
    font-size: 1.76rem;
    font-weight: 200;
    transition: all 0.5s;
}

.navigation ul li a span {
    color: var(--blue);
    font-family: 'PT Mono', monospace;
}
.navigation ul li a:hover{
    color: var(--blue);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 70px;
    height: 6px;
    border-radius: 3px;
    background: var(--white);
    margin: 15px auto;
    margin-right: 120px;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--blue);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--blue);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #7d5cf3;
}
.home-img img{
    width: 100%;
}








/*MAIN*/

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;

}

/* PAGE 1 */

.page-1 {
    max-width: 1100px;

}
.about-sec {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.about01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem;
    transition: 0.5s;
}

.about01 .number {
    font-family: 'PT Mono', monospace;
    color: var(--blue)
}

.about01 .linha {
    width: 15%;
    border-width: 1px;
    margin-left: 4.0rem;
    border-color: var(--blue);
}

.about-sec .coluna1 {
    transition: 1s;
    margin-left: 3%;
}

.about-sec .coluna1 .nome {
    margin-top: 5%;
    font-size: 3.3rem;
}
.about-sec .coluna1 .nome h4{
    margin-top: 1rem;
    font-size: 3.2rem;
    color: var(--blue)
}

.informa {
    display: flex;
    margin-top: 3rem;
}

.informa .icones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    width: 5%;
    filter: invert();
    position: relative;
    z-index: -1;
}

.informa .textos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    font-size: 1.3rem;
    margin-left: 1.4rem;
    transition: 0.3s;
}
.informa .textos a{
    color: #fff;
    transition: 0.3;
    transition: 0.3s;
}

.coluna1 .icones-sociais {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: invert();
    margin-left: 5.0rem;
    gap: 3.0rem;
    
}

.icones-sociais img{
    position: relative;
    z-index: -233;
    cursor: pointer;
    margin-top: 3.0rem;
    width: 3rem;
    transition: 0.6s;
}
.linkedin:hover{
    transform:translateY(-5px) ;
}

.github:hover{
    transform:translateY(-5px) ;
}
.instagram:hover{
    transform:translateY(-5px) ;
}
.grid-tags .tag-ret {
    cursor: default;
    border: 1px solid #0960CC;
    width: 9rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-tags .tag-ret:hover {
    background-color: #0960CC;
}

.grid-tags {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 96px);
    grid-column-gap: 0.1rem;
    grid-row-gap: 0.5rem;
    
}
.tags-e-texto .apresentacao {
    padding-top: 1rem;
    font-size: 1.5rem;
    width: 60%;
}

.tags-e-texto{
    margin-top: 3%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;
    transition: 0.3s;
}


/* COLUNA 2*/

.coluna2 img {
    transform: translateX(5rem);
    width: 100%;
    transition: 0.3s;
}
.coluna2 {
    display: flex;
    flex-direction: column;
}

.coluna2 h4 {
    font-size: 1.2rem;
    margin-top: 4%;
    transform:translateX(-5%);
}

/* PAGINA 2*/

.page-2 .about01 {
    margin-top: 15rem;
}

.page-2 .skills {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}

.page-2 .skills .secao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.skills .secao .barra {
    width: 200px;
    height: 10px;
    background-color: #060065;
    border-radius: 2px;
}
.coluna-1-itens{
    margin-right: 11.1rem;
    margin-left: 1rem;
    transform: translateY(-14px);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.coluna-2-itens{
    margin-left: 1rem;
    transform: translateY(-14px);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skills .secao .barra div {
    height: 100%;
    background: linear-gradient(135.12deg, #21DAF3 -181.55%, #4E6AFF 181.98%);
    border-radius: 2px;

}


.secao #carinha {
    margin-left: 4rem;
}




/*PAGINA 3*/

.experience-tab {
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
}
.experience-tab .icones {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    margin-right: 2rem;
}

.experience-tab .textos-aba-xp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13rem;
}

.texto-exp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem
}
.titulo {
    font-size: 2.4rem;
}
.subtitulo {
    color: #797979;
    font-weight: 400;
    font-size: 2.0rem;
}

.texto-xp {
    font-size: 1.5rem;
}

/* RESPONSIVIDADE */

@media (max-width:768px){

    html {
        font-size:70%;
    }

    .navigation{
        padding: 55px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(30px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-13px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 140px;
        width: 40%;
        height: 70%;
        flex-direction: column;
        justify-content: flex-start;
        background: var(--dark);
        gap: -10px;
        transition: 0.8s;
        box-shadow: 0px 16px 43px 7px rgba(0, 0, 0, 0.25);
    }

    .navigation ul li a {
        font-size: 2rem;
    }
    .nav-menu.ativo{
        right: 0;
        padding-top: 40px;
        padding-left: 30px;
        align-items:flex-start;
    }
    .nav-item{
        margin: 3px 0px;
        font-size: 0.1rem;
    }
    .logos img {
        height: 6rem;
        width: 6rem;
    }
    .logos .logo{
        font-size: 3rem;
    }
    /*main*/
    
 
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 1.5rem;
    }
    .home-img{
        width: 125%;
    }
    
    .page-1 {
        padding-top: 10%;
        margin-left: 10%;
    }
    .about-sec {
        flex-direction: row;
        justify-content: flex-start;
    }
   

    .about-sec .coluna2 img {
        padding-top: 35px;
        margin-left: -10%;
        margin-top: 10%;
    }
    
}
